:global {
  html,
  body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
